# Auto detect text files and perform LF normalization
* text=auto

# Source files
*.ts text diff=typescript

# Documentation
*.md text

# Configuration
*.json text
*.yml text
*.yaml text

# Denote all shell files have shell syntax
*.sh text eol=lf
